@import "reset.css";

.hidden {
  display: none;
}
.background-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
body {
  width: 100vw;
  height: 100vh;
  color: white;
  background-color: slateblue;
}

header {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.clock-container {
  position: relative;
}
.clock {
  font-size: 1000%;
}
.flag {
  position: absolute;
  right: -10%;
  bottom: 2%;
  font-size: 200%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
